<!-- 일정 추가 팝업 -->

<div class="background">
    <div class="window">
        <div class="popup">
            <form method="POST" name="add_schedule" action="/calendar/addschedule" id="sch">
            <!-- 날짜 선택 -->
            <div class="date-picker">
                <h6 class="date-picker-ment">1. 날짜를 선택하세요.</h6>
                <input type="date" class="date-input" name="datesch"></input>
            </div>
            <!-- 일정 선택 -->
            <div class="schedule-picker">
                <div class="dropdown-label">
                    2. 일정을 선택하세요.
                    <!-- <span style="font-family: Material Icons;">restaurant</span> -->
                </div>
                <select name="scheduletype" form="sch" id="selectSchedule" onchange="selectSchedule()">
                    <option value="일상" selected>일상</option>
                    <option value="업무">업무</option>
                    <option value="결혼">결혼</option>
                    <option value="장례식">장례식</option>
                </select>
            </div>
            
            <div class="btn-close-box">
                <button class="btn-add" id="add" type="submit">일정 추가하기</button>
                <button class="btn-close" type="button" id="close">닫기</button>
            </div>
        </form>
        </div>
    
    </div>
</div>


